[net]
git-fetch-with-cli = true

[registry]
global-credential-providers = ["cargo:libsecret"]

[alias]
pub = ["publish", "--registry", "crates-io"]

[source.crates-io]
replace-with = 'mirror'

[source.mirror]
registry = "sparse+https://mirrors.ustc.edu.cn/crates.io-index/"
# registry = "sparse+https://mirrors.tuna.tsinghua.edu.cn/crates.io-index/"

[build]
rustc-wrapper = "/usr/bin/sccache"

# no mold, because rustflags may overwrite project-local config: https://github.com/rust-lang/cargo/issues/5376#issuecomment-1241338420
