#!/bin/bash

base="$(dirname "$(realpath "$1")")"

PATH_add "$base"

export VERUS_BINARY_PATH="${VERUS_BINARY_PATH:-/usr/bin/verus}"
export VERUS_SINGULAR_PATH="${VERUS_SINGULAR_PATH:-/usr/bin/Singular}"
